

.contact-container{
    grid-column: span 3;
    margin-top:50px;
    background: var(--color-bg-variant);
    padding:40px;
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    height: auto;   
    margin-top: auto;
}