
.projectView{
    margin-top: 40px;
    margin-bottom:20px;
}
.projectTitle{
    margin-bottom:10px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.project{
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    gap:10px;
    background-color: #3a5388;
    justify-content: start;
    text-align: left;
}
.projectPicture img {
    height: 220px;
    object-position: 0 0;
}
.projectName{
    margin-left: 10px;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .projects{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .projects{
        grid-template-columns: 1fr;
    }
}